.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  width: 70%;
  height: 80%;
  background-color: #f0f0f0;
}

.inputArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 10%;
  background-color: #f0f0f0;
}

.input {
  width: 80%;
  height: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}

.button {
  width: 15%;
  height: 83%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}
